* {
  margin: 0;
  padding: 0rem;
}

footer {
  background-color: #777;
  color: #bbb;
  padding-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
}


main {
  flex-grow: 1;
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}


.home-background {
  background-image: url(./images/spaceX-home.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}