* {
  margin: 0;
  padding: 0rem;
}

footer {
  background-color: #005288;
  color: #005288;
  padding-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
}


main {
  flex-grow: 1;
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}


.home-background {
  background-image: url(./images/51924934610_296c72bf67_o.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;

}

.crew-href {
  text-decoration: none;
  color: white;  
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color:#005288;
  border: 2px solid #A7A9AC;
}

/* .css-pxxd1-MuiImageListItem-root .MuiImageListItem-img {
  position: relative;
  height: 100%;
} */

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

